* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#main {
  display: flex;
  padding: 0 32px;
}

#sidebar {
  width: 300px;
  background-color: beige;
}

#content {
  flex-grow: 1;
  /* or flex: 1; */
  background-color: azure;
}

.items {
  background-color: orange;
  color: white;
  height: 100px;
  margin-bottom: 10px;
}

.wide {
  width: 100% !important;
}

@media (max-width: 767px) {
  #sidebar {
    display: none;
  }
}

.banner {
  display: flex;
  width: 100%;
  background-color: purple;
}
