/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
  --height-header: 46.5px;
}

.white-text {
    color: #fff; !important;
}

.clear {
    clear: both;
}

.font15 {
    font-size: 15px;
}

.uppercase-text {    
  text-transform: uppercase;
}

.black-white {    
  background-color: #000;
  color: #fff;
}

#main {
}

#header {
  height: var(--height-header);
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#nav {
  display: inline-block;
}

#nav li {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
  position: relative;
}

#nav > li > a {
  color: #fff;
  padding: 0 24px;
  display: block;
  text-decoration: none;
  line-height: var(--height-header);
  text-transform: uppercase;
}

#nav > li:hover > a,
#nav #subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav li:hover #subnav {
  display: block;
}

#nav #subnav {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav #subnav li a {
  color: #000;
  display: block;
  padding: 8px 16px;
  min-width: 160px;
  text-decoration: none;
}

#nav .down-more {
  font-size: 12px;
}

#search-btn {
  float: right;
}

#search-btn .icon-btn {
  display: block;
  color: #fff;
  font-size: 20px;
  line-height: var(--height-header);
  padding: 0 46px;
}

#search-btn .icon-btn:hover {
  cursor: pointer;
  background-color: red;
}

#slider {
  margin-top: var(--height-header);
  padding-top: 50%;
  background: url('https://www.w3schools.com/w3images/ny.jpg') top center /
    cover no-repeat;
  position: relative;
}

#slider .heading-slider {
  font-size: 24px;
  color: #fff;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 36px;
  font-weight: 500;
  letter-spacing: 2px;
}

#slider .sub-heading-slider {
  padding-top: 15px;
}

.section-content {
  width: 800px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 0;
}

@media  (max-width: 831px) {
    .section-content {
        padding: 64px 16px;
        width: calc(100%) !important;
    }
}


#content .section-content .heading-content {
  font-size: 30px;
  text-align: center;
  letter-spacing: 4px;
}
#content .section-content .sub-heading-content {
  text-align: center;
  opacity: 0.6;
  font-style: italic;
  padding: 20px 0;
}
#content .section-content .desc-about {
  text-align: justify;
  line-height: 1.4;
}
#content .name {
text-align: center;
padding: 30px;
}
#content .picture-person {
  width: 70%;
  border-radius: 10%;
}
#tour-content {
  background-color: #000;
}
#tour-content .tour-list {
    background-color: #fff;
}
#tour-content .tour-list li {
    list-style-type: none;
    padding: 11px 16px;
    color: #757575;
    border-bottom: 1px solid #ddd;
}
.tour-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 4px 6px;
}
.tour-list .quantity {
    float: right;
    height: 24px;
    width:24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
.tour-ticket {
    max-width: 816px;
    width: calc(100% + 16px);
}
.tour-place {    
    background-color: #fff;
    margin: 32px 0 0;
}
@media (max-width: 739px) {
    .tour-ticket {
        width: calc(100%) !important;
    }
    .tour-place {
        width: calc(100% + 16px);
        margin: 16px 0;
        /* margin-left: 15%; */
    }
    .feedback, .feedback-message {
        width: 100% !important;
    }
    .modal-view-list {
        display: block !important;
    }
    #nav, .heading-slider, #search-btn {
        display: none !important;
    }
}

@media (max-width: 1023px) {
    .tour-place .ticket-btn {
        padding: 16px !important;
        width: 100%;
    }
    #contact-content .contact-address li {
        padding: 8px 0;
    }
    #contact-content .feedback-message, 
    #contact-content .feedback-name,
    #contact-content .feedback-email {
        padding: 14px !important;
    }
    #contact-content .feedback-name {
        width: 100% !important;
        margin-bottom: 8px;
    }
    #contact-content .feedback-send {        
        width: 100%;
        padding: 15px !important;
    }
    .ti-font {        
        font-size: 36px !important;
        padding: 5px !important;
    }
    #footer .footer-writter a {        
        padding: 15px 0;
        display: inline-block;
    }
    
}

.place-image {
    width: 100%;
}

.place-body {
    font-size:15px;
    padding: 0 16px;    
}

.place-name {
    font-weight: bold;
    margin-top: 15px;
}

.place-time {
    opacity: 0.6;
    margin-top: 15px;
}

.place-desc {
    margin: 15px 0;
}

.tour-place .ticket-btn {
    padding: 8px 16px;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 16px;
    border: none;
}

.tour-place .ticket-btn:hover {
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}

#contact-content {    
}

#contact-content .contact-address {
    width: 100%;
    padding: 15px;
}

#contact-content .contact-address li {
    margin-bottom: 5px;
}

#contact-content li {
    list-style: none;
    font-size: 18px;
}

.path-10px {
    padding-right: 10px;
}

#contact-content .contact-feedback {
    padding: 15px 0;
}
#contact-content .feedback-name,
#contact-content .feedback-email,
#contact-content .feedback-message {
    padding: 8px;
    border: 1px solid #ddd;
}

#contact-content .feedback-name {
    width: 95%;
}
#contact-content .feedback-email {
    width: 100%;
}

#contact-content .feedback-message {
    width: 100%;
    margin-top: 8px;
}

#contact-content .feedback-send {
    float: right;
    margin: 16px 0;
    padding:8px 16px;
    border: none;
}

#contact-content .feedback-send:hover {
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}


#footer {
    opacity: 0.6;
    padding: 36px;
    text-align: center;
}

.ti-font {
    font-size: 24px;
    padding: 10px;
}
#footer .footer-writter {
    margin-top: 20px;
}
#footer a {
    color: #000;
}
.ti-font:hover {
    cursor: pointer;
    opacity: 0.5;
}

.modal {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    align-items: center;
    justify-content: center;
    transform: translateY(-100px);
    display: none;
}

.modal-container {
    width: 900px;
    position: relative;
    background-color: #fff;
    animation: fadeIn .5s ease;
}

.modal-container .modal-header {
    font-size: 30px;
    color: #fff;
    background-color: #009688;
    text-align: center;
    padding: 47px 16px;
    letter-spacing: 4px;
}

.modal-container .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 16px;
    border: none;
}

.modal-container .close-btn:hover
{
    cursor: pointer;
    background-color: #f44336;
}

.modal-container .modal-body {
    padding: 16px;
}

.modal-container .modal-label {
    display: block;
    padding: 16px 0 10px;
}

.modal-container .modal-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
}

.modal-container .modal-pay {
    width: 100%;
    padding: 16px;
    margin-top: 16px;
    background-color: #009688;
    border: none;
    text-transform: uppercase;
}

.modal-container .modal-pay:hover {
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}

.modal-container .modal-footer {
    float: right;
    padding: 16px;
}

.modal-container .modal-footer a {
    color: aqua;
}

.modal-container .modal-footer a:hover {
    cursor: pointer;
}

.modal.open {
    display: flex;
}

@keyframes fadeIn {
    from {
        transform: translateY(-300px);
    }
    to {
        transform: translateY(0);
    }
}.modal-view-list {
    display: none;
}
.mobile-home {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 15px;
    text-transform:uppercase;
    color: #fff;
    height: var(--height-header);
    line-height: var(--height-header);
    text-align: center;
    z-index: 2;
    text-decoration: none;
    padding: 0 24px;
    display: inline-block;
}
.mobile-home:hover {
    background-color: #ccc;
    color: #000;
}
.input_checked:checked ~ #view-list {
    display: block;
}
.input_checked:checked ~.over-lay {
    display: block;
}
.over-lay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

.view-list-btn {
    float: right;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    font-size: 20px;
    color: #fff;
    padding: 0 20px;
    height: var(--height-header);
    line-height: var(--height-header);
}

#view-list {
    display: none;
    position: fixed;
    z-index: 2;
    top: var(--height-header);
    left: 0;
    right: 0;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
}

.view-list-list.open-list {
    display: none !important;
}
#view-list li a{
    list-style: none;
    text-decoration: none;
    padding: 0 16px;
    color: #fff;
    display: block;
}
#view-list li {
    background-color: #000;
    display: block;
    height: var(--height-header);
    line-height: var(--height-header);
    padding-left: 8px;
}

#view-list li:hover, .view-list-btn:hover {
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}

#view-list li:hover a{
    color: #000;
}